bin/
obj/
obj_serial/
data/
*.out
__pycache__/*
**/__pycache__/*
figs/
.DS_Store
MCMC/mcmc_*/
conda_env
.vscode/settings.json
py/parameters/bgs_y1/wp_red*
py/parameters/bgs_y1/wp_blue*
py/parameters/bgs_y1/wp_all*
py/parameters/bgs_y1/old/*
py/parameters/bgs_y1_mini/wp_red*
py/parameters/bgs_y1_mini/wp_blue*
py/parameters/bgs_y1_mini/wp_all*